/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";
@import "compass";
@import "partials/normalize";
@import "partials/generic_classes";

.horizontal-list {
  @include horizontal-list;
}


//EDIT VIEW LAYOUT

.editor-header {
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}
.slide-nav {
  width: 275px;
}
.current-slide {
  form {
    width:100%;
  }
  // margin-left: 300px;
  // float: right;
  // text-align: left;
  // width:100%;
  // border: 1px solid #ccc;
}