<h1> Presentations</h1>
<ul>
<% @presentations.each do |presentation| %>
  <li><%= link_to presentation.title, presentation %></li>
<% end %>
</ul>

<h3><%= link_to "New presentation", new_presentation_path %></h3>