<button>
<%= link_to edit_presentation_slide_path @presentation, @default_slide do %>
  <section class="<%= @default_slide.slide_type%>">
  <h1><%= @default_slide.content %></h1>
  </section>
  <% end %>
</button>
