<div ng-controller="PresentationsCtrl">

  <form ng-submit="addPresentation()">
    <input type="text" ng-model="newPresentation.title" placeholder="New Presentation">
    <input type="submit" value="Add">
  </form>

  <ul>
  <li ng-repeat="presentation in presentations">{{presentation.title}}</li>
</ul>
</div>
