<h1>New Presentation</h1>
<%= form_for(@presentation, :html => { :class => "edit-presentation" }) do |f| %>
<%= f.text_area :content, placeholder:"Add presentation content" %>
<p><%= f.submit %>
</p>
<% end %>


<!--  :html => { :class => "form grid_6" } -->