<h1>Title:<%= @presentation.title %></h1>
<button class="fullscreen">Enter Fullscreen mode (Document)</button>
<p>Slides:</p>
<ol>
<% @presentation.slides.each do |slide| %>
  <li><%= simple_format(slide.content) %></li>
<% end %>
</ol>

<%= link_to 'New Slide', new_presentation_slide_path(@presentation) %>

