<div id="presentation-view">  
<%= render 'view_presentation' %>
</div>


<h1>Edit Presentation</h1>
<%= form_for(@presentation, :remote => true, :html => { :class => "update-presentation" }) do |f| %>
<%= f.text_area :content, placeholder:"Add presentation content" %>
<p><%= f.submit %>
</p>
<% end %>

