<h1>Listing anonymous_slides</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @anonymous_slides.each do |anonymous_slide| %>
      <tr>
        <td><%= link_to 'Show', anonymous_slide %></td>
        <td><%= link_to 'Edit', edit_anonymous_slide_path(anonymous_slide) %></td>
        <td><%= link_to 'Destroy', anonymous_slide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anonymous slide', new_anonymous_slide_path %>
