// STYLING A-Z
// _________________________

.bold {
  font-weight: 700;
}
.centered {
  text-align: center;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
.hide {
  display: none;
}
.italic {
  font-style: italic;
}
// .meta-text {
//   color:$meta-text;
// }
.no-margin-bottom {
  margin-bottom: 0;
}
.margin-top-1em{
  margin-top: 1em;
}
.margin-top-3em{
  margin-top: 3em;
}
.margin-bottom-1em{
  margin-bottom: 1em;
}
.opaque {
  opacity: 1;
}

// CSS TABLES
// _____________________
.display-table {
  display:table;
  border-collapse:collapse;
  width: 100%;
}
.table-row {
   display:table-row;
}
.table-cell {
   display:table-cell;
}
.table-cell-submit {
  width: 7.5em;
}
.align-middle {
  vertical-align: middle;
}
.align-top {
  vertical-align: top;
}